*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(219, 215, 209);
}

.nav{
   text-align: center;
   width: 100%;
  
   z-index: 1em;
   padding: 20px 25px ;
   z-index: -1;
}
.nav_item{
    
    padding: 100px 80px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(62, 9, 110);
}
.container{
    
    margin: auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    max-width: 1140px;
}
.h{
    color: rgb(55, 27, 82);
    font-size: 100px;
    font-weight: 700;
    
}
.h2{
    color: rgb(71, 33, 105);
    font-size: 80px;
    margin-top: 50px;
    font-weight: 600;
    margin-right: 50px;
}
.h3{
    color: rgb(93, 46, 138);
    font-size: 60px;
    margin-top: 100px;
    font-weight: 500;
    margin-bottom: 30px;

}
.contain{
    color: rgb(115, 72, 156);
    font-size: 30px;

}
.image{
    width: 40%;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.foot{
    
    font-size: 30px;
    padding: 50px 100px 0px 0px;
}
.foots{
    font-size: 30px;
    padding: 50px 70px 0px 0px;
   
}
.nav_items{
    text-decoration: none;
    padding: 20px 10px;
}
@media screen and (max-width:1024) {
    .nav_item{
       padding: 100px 50px;

    }
    .foot{
        padding: 50px 100px 0px 40px;
    }
}
@media screen and (max-width:800px) {
    .nav_item{
        padding: 20px;
        font-size: 40px;
      

    }
    .foot{
        font-size: 40px;
        padding: 50px 100px 0px 30px;
    }
    .foots{
        font-size: 40px;
        padding: 50px 0px 0px 0px;
    }
}
@media screen and (max-width:360){
    .nav{
        padding:0px ;
    }
    .nav_item{
        padding: 0px;
    }
}