*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(219, 215, 209);
   
}
#myvideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  }
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  }
.nav_items{
    color: rgb(238 234 243);
    font-size: 100px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 80px;
    
}
.container{
    max-width: 1140px;
    margin: auto;
   
}

.skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
   
  }
  
  .skills_name {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 1.5em;
    padding: 20px ;
    color: rgb(220, 214, 226);
  }
  
  .skills_percent {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.12em;
    line-height: 1.5em;
    padding: 20px;
    color: rgb(220, 214, 226);
  }
  
 
  .skill_bar {
    width: 100%;
    height: 10px;
    background-color: rgb(248, 247, 248);
    border-radius: 5px;
  }
  
  .skill_progress {
    height: 10px;
    border-radius: 5px;
    background-color: rgb(58, 4, 63);
  }
  
  #html {
    width: 95%;
  }
  #css {
    width: 80%;
  }
  #JS{
    width: 85%;
  }
  #BS{
    width: 50%;
  }
  #C{
    width: 95%;
  }
  #PYTHON{
    width: 80%;
  }
  #JAVA{
    width: 95%;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.foot{
    margin: 50px;
    font-size: 30px;
    padding: 20px 10px;
    color: rgb(220, 214, 226);
}
.foots{
    font-size: 30px;
    padding: 50px 70px 0px 0px;
   
}
.nav_item{
    text-decoration: none;
    padding: 20px 10px;
    color: rgb(220, 214, 226);
}
